@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Josefin+Sans:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.h {
    height: calc(100vh - 79px);
  }
  
.nametitle {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.patlafont {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.archivo {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .job {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .job2 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .shiny-border {
    display: flex;
    justify-content: space-between;
    color: #9CAF88;
    border-bottom: 1px solid #9CAF88;
    box-shadow: 0 0 5px #9CAF88, 0 0 5px #9CAF88, 0 0 10px #9CAF88, 0 0 15px #9CAF88;
}

